form{
    display: flex;
    flex-direction: column;
}

.contenedorBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

div > input{
    margin: 6px;
}

#nombre, #correo, #mensaje{
    border-radius: 6px;
}

.parrafo4{
    background-color:#dc3545;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: 0px solid white;
    text-align: center;
    width: 400px;
}